body{
  overflow-x: hidden;
}
#resizing {
  padding-right: 250px;
  padding-left: 250px;
}
#pic {
  width: 67px;
}
#spinner-two {
  width: 450px;
  height: 450px;
}
#results img {
  width: 35px;
  height: 35px;
}
#results a {
  font-size: large;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
}
mark{
  background-color: rgb(65, 174, 233);
  padding: 0;
  margin: 0;
  border-radius: 25%;
}
#results > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-change {
  font-size: smaller;
}

.para {
  color: black;
  font-weight: bold;
  white-space: nowrap;
  clear: both;
  float: left;
}
/* marquee */
#marge {
  margin-right: 10px;
}
#marquee {
  margin: 0;
  width: max-content;
}

@keyframes marquee-right-to-left {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #marquee {
    animation: marquee-right-to-left 300s linear infinite;
  }
}
.marked{
  background-color: darkturquoise;
}